body {
	background-color: #0B2545;
}

.buttons-container {
	width: 350px;
	height: 250px;
	margin: auto;
	margin-top: 100px;
	padding: 0px;
	border:4px solid #134074;
	border-radius: 20px;
	text-align: center;
	background-color: #EBEBEB;
	color: #0B2545;
}
.game-button {
	margin: 10px;
	/* width: 70px;
	height: 70px; */
	border: 3px solid #13315C;
	border-radius: 2px;
	cursor: pointer;
}



